<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (htmlWebpackPlugin.options.templateParameters.isDevelopment) { %>
    <!-- import this BEFORE any scripts -->
    <!-- Only include this script in development mode -->
    <script src="https://unpkg.com/react-scan/dist/auto.global.js"></script>
    <% } %>
    <title>TALON Powersports Solutions</title>
  </head>
  <body class="font-sans text-center">
    <div id="root"></div>
  </body>
</html>
